<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="flex w-screen justify-center my-10">
    <div class="relative overflow-hidden bg-white h-[640px] w-[320px] rounded-3xl ring-4 ring-teal-500">
        <svg class="filter drop-shadow-md fill-teal-500 absolute -top-64 -left-10 scale-[2.3] -rotate-12" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="M28.6,-42.1C42.5,-41.4,63.1,-44.9,66.7,-38.5C70.4,-32.2,57,-16.1,53.9,-1.8C50.9,12.6,58.1,25.1,56.9,35.7C55.7,46.2,46.1,54.7,35.2,55.9C24.3,57.1,12.2,50.9,-2.2,54.7C-16.5,58.4,-33,72,-45,71.5C-57.1,71,-64.7,56.4,-62.4,42.1C-60.1,27.9,-47.8,13.9,-42.6,3C-37.3,-7.9,-39.1,-15.7,-36,-20.7C-33,-25.7,-25.1,-27.8,-18.3,-32.7C-11.5,-37.5,-5.8,-45.1,0.8,-46.4C7.3,-47.7,14.6,-42.8,28.6,-42.1Z" transform="translate(100 100)" /></svg>
        <svg class="filter drop-shadow-md fill-teal-500 absolute -bottom-64 -left-10 scale-[2.3] -rotate-12" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="M28.6,-42.1C42.5,-41.4,63.1,-44.9,66.7,-38.5C70.4,-32.2,57,-16.1,53.9,-1.8C50.9,12.6,58.1,25.1,56.9,35.7C55.7,46.2,46.1,54.7,35.2,55.9C24.3,57.1,12.2,50.9,-2.2,54.7C-16.5,58.4,-33,72,-45,71.5C-57.1,71,-64.7,56.4,-62.4,42.1C-60.1,27.9,-47.8,13.9,-42.6,3C-37.3,-7.9,-39.1,-15.7,-36,-20.7C-33,-25.7,-25.1,-27.8,-18.3,-32.7C-11.5,-37.5,-5.8,-45.1,0.8,-46.4C7.3,-47.7,14.6,-42.8,28.6,-42.1Z" transform="translate(100 100)" /></svg>
        <div class="relative w-full h-full flex flex-col items-center justify-between">
            <div class="absolute h-full flex flex-col space-y-6 justify-center items-center">
                <h1 class="text-teal-500 text-center text-3xl uppercase font-extrabold filter drop-shadow-lg">Welcome Back !</h1>
                <input class="ring-4 focus:outline-none text-teal-700 caret-teal-700 ring-teal-500 rounded-xl p-2" type="text" placeholder="Email">
                <input class="ring-4 focus:outline-none text-teal-700 ring-teal-500 rounded-xl p-2" type="password" placeholder="Password">
                <button class="cursor-pointer filter drop-shadow-lg active:bg-teal-700 active:drop-shadow-xl hover:bg-teal-600 transition-all text-white font-black uppercase bg-teal-500 rounded-full p-2 w-2/3">Login</button>
            </div>
        </div>
    </div>
</body>
</html>